<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="csse3005.contactaniserapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="csse3005.contactaniser.activities.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="csse3005.contactaniser.activities.ChangePassword"
            android:label="@string/title_activity_change_password" >
        </activity>
        <activity
            android:name="csse3005.contactaniser.activities.EmailActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="csse3005.contactaniser.activities.PhoneActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="csse3005.contactaniser.activities.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="csse3005.contactaniser.activities.TaskList"
            android:label="@string/title_activity_task_list" >
        </activity>
        <activity
            android:name="csse3005.contactaniser.activities.ProjectActivity"
            android:label="@string/title_activity_project" >
        </activity>
        <activity
            android:name="csse3005.contactaniser.activities.ProjectInfoActivity"
            android:label="@string/title_activity_project_info" >
        </activity>
        <activity
            android:name="csse3005.contactaniser.activities.TaskActivity"
            android:label="@string/title_activity_task" >
        </activity>
        <activity
            android:name="csse3005.contactaniser.activities.CreateTaskActivity"
            android:label="@string/title_activity_create_task" >
        </activity>
    </application>

</manifest>